article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*{*behavior:url("boxsizing.htc");-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{height:100%}body{margin:0;background-color:#fff;color:#333;font-size:14px}img{width:auto;max-width:100%;vertical-align:middle;display:inline-block}h1,h2,h3,h4,h5,h6{margin:0}p{margin:0}blockquote{margin:0}fieldset{padding:0;margin:0;border:0}label{display:block;margin-bottom:5px;font-weight:bold}button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}.n-block{display:block}.n-widget{overflow:hidden}body.n-widget{overflow:auto}.n-inline-block{display:inline-block;*display:inline;*zoom:1}.n-hidden{display:none}.n-clearfix,.n-area{*zoom:1}.n-clearfix:before,.n-clearfix:after,.n-area:before,.n-area:after{display:table;content:'';line-height:0}.n-clearfix:after,.n-area:after{clear:both}.n-powered-by{position:relative;right:0;bottom:0;clear:both;zoom:1;z-index:20}.n-powered-by:before,.n-powered-by:after{display:table;content:'';line-height:0}.n-powered-by:after{clear:both}.n-powered-by i{display:block;text-indent:-9999em;overflow:hidden;position:absolute;right:0;bottom:0;width:25px;height:25px;cursor:pointer}.n-powered-by a{display:block;text-indent:-9999em;overflow:hidden;position:absolute;right:0;bottom:0;width:130px;height:25px;background:transparent url("powered-by.png") no-repeat center center}.n-powered-by a,.n-powered-by a:visited,.n-powered-by a:hover,.n-powered-by a:active{text-decoration:none}
body{margin:0 auto}a,a:visited{color:#0074ff;text-decoration:none}a:hover,a:active{color:#0059b0;text-decoration:underline}
.w-columnbox:before,.w-columnbox:after{display:table;content:'';line-height:0}.w-columnbox:after{clear:both}.w-col{position:relative;float:left;width:100%;min-height:1px}.w-col-1{width:8.333333333333332%}.w-col-2{width:16.666666666666664%}.w-col-3{width:25%}.w-col-4{width:33.33333333333333%}.w-col-5{width:41.66666666666667%}.w-col-6{width:50%}.w-col-7{width:58.333333333333336%}.w-col-8{width:66.66666666666666%}.w-col-9{width:75%}.w-col-10{width:83.33333333333334%}.w-col-11{width:91.66666666666666%}.w-col-12{width:100%}
.w-image{width:auto;max-width:100%;height:auto;max-height:100%;font-size:12px;line-height:24px}.w-image img{width:auto;max-width:100%;_visibility:hidden}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url("fancybox_sprite.png");
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url("fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url("blank.gif"); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url("fancybox_overlay.png");
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url("fancybox_sprite@2x.png");
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url("fancybox_loading@2x.gif");
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
.w-divider{margin:0 auto}.w-divider hr{padding:0;border-width:1px 0 0}
.w-text{word-wrap:break-word}.w-text ul ,.w-text ol{margin:0;padding:0;margin-left:30px}
#w-body-aaaa{
	margin-right:auto;
	margin-left:auto;
	background-color:#c5dfc4
}
a, a:visited{
	color:#333333
}
a:hover, a:active{
	color:#438140;
	text-decoration:none
}
#w-area-aaab{
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	width:1200px
}
#w-columnbox-aaac{
	margin-right:auto;
	margin-left:auto;
	padding:10px
}
#w-area-aaad{
	margin-right:5px
}
#w-image-aaae{
	font-size:12px;
	line-height:24px;
	text-align:center
}
#w-area-aaaf{
	margin-left:5px
}
#w-divider-aaag{
	margin-top:92px;
	margin-right:auto;
	margin-left:auto;
	padding:10px 0px 10px 0px
}
#w-divider-aaag hr{
	border-width:1px 0px 0px 0px;
	border-style:solid;
	border-color:#333333
}
#w-columnbox-aaah{
	padding-top:5px;
	padding-bottom:5px
}
#w-area-aaai{
	margin-right:5px
}
#w-text-aaaj{
	line-height:1.6
}
#w-area-aaak{
	margin-left:5px;
	margin-right:5px
}
#w-text-aaal{
	line-height:1.6
}
#w-area-aaam{
	margin-left:5px
}
#w-text-aaan{
	line-height:1.6
}
#w-divider-aaao{
	margin-top:0px;
	margin-right:auto;
	margin-left:auto;
	padding:10px 0px 10px 0px
}
#w-divider-aaao hr{
	border-width:1px 0px 0px 0px;
	border-style:solid;
	border-color:#333333
}
#w-columnbox-aaap{
	margin-right:auto;
	margin-left:252px;
	padding:10px
}
#w-area-aaaq{
	margin-right:5px;
	margin-top: 100px
}
#w-area-aaar{
	width:138px;
	height:40px;
	background-color:#333333;
	    margin-left: 156px;
	background-position:center
}
#w-area-aaar1{
	width:138px;
	height:40px;
	background-color:#333333;
	    margin-left: 112px;
	background-position:center
}
#w-area-aaar2{
	width:138px;
	height:40px;
	background-color:#333333;
	    margin-left: 70px;
	background-position:center
}
#w-area-aaar3{
	width:138px;
	height:40px;
	background-color:#333333;
	    margin-left: 100px;
	background-position:center
}
#w-area-aaar4{
	width:138px;
	height:40px;
	background-color:#333333;
	    margin-left: 34px;
	background-position:center
}
#w-area-aaarr{
	width:138px;
	height:40px;
	background-color:#333333;
	    margin-left: 7px;
	background-position:center
}
#w-text-aaas{
	line-height:1.6;
	margin-top:3px;
	margin-left: 12px
}
#w-text-aaat{
	line-height:1.6;
	margin-top:25px
}
#w-text-aaau{
	line-height:1.6;
	margin-top:25px
}
#w-area-aaav{
	background-color:transparent;
	margin-left:77px
}
#w-image-aaaw{
	font-size:12px;
	line-height:24px;
	margin-top:70px;
	text-align:center
}
#w-columnbox-aaax{
	margin-top:220px
}
#w-columnbox-aaaxx{
	margin-top:-5px
}
#w-area-aaay{
	margin-right:5px
}
#w-text-aaaz{
	line-height:1.6
}
#w-area-aaba{
	margin-left:5px
}
#w-area-aabc{
	margin-right:0px
}
#w-image-aabd{
	font-size:12px;
	line-height:24px;
	text-align:right
}
#w-area-aabe{
	margin-left:0px;
	margin-right:0px
}
#w-image-aabf{
	font-size:12px;
	line-height:24px;
	text-align:right
}
#w-area-aabg{
	margin-left:0px
}
#w-image-aabh{
	font-size:12px;
	line-height:24px;
	text-align:right
}

.clearfix{
	zoom:1;
	margin-top:64px;
	margin-left:183px;
	}
.clearfix1{
	zoom:1;
	margin-top:64px;
	width:810px;
	margin-left: 300px;
	}
	.clearfix2{
	zoom:1;
	margin-top:17px;
	width:810px;
	margin-left: 282px;
	}
.clearfix:after{
display:block;
content:"clear";
visibility:hidden;
 line-height:0;
clear:both;
}
.error{
	
	margin-top: 60px;
}
#w-columnbox-aaax1{
	position:fixed;
    bottom:0;
    left:764px;
}
#fenye{
	float: right;
	margin-right: 24px;
}
#yuan{
	 margin:10px auto;
	 width:74%;
	 height:45px;
　　
}
#yuan img{ border-radius:50%}
.huoyuedu{
	font-size: 23px;
    position: relative;
    font-weight: 400;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    padding: 30px 30px 15px 30px;
    margin: 0px 40px 20px 40px;
    text-align: center;
}
.huoyuedu1{
	font-size: 23px;
    position: relative;
    font-weight: 400;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.liuyantable{
	margin-left: 244px;
	
}
#login{
	    margin-top: 10px;
}
.tiaojian{
	margin-left: 328px;
}
.searched{
	margin-left: 143px;
}
 .d_over{background-color:lightsalmon;}
.d_out{background-color:transparent;}
.chakan{
	width: 28px;
    height: 28px;
    margin-top: 1px;
}